.user-input-wrp {
	position: relative;
	width: 100%;
}

.user-input-wrp .inputText {
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #777;
}

.user-input-wrp .inputText:invalid {
	box-shadow: none !important;
}

.user-input-wrp .inputText:focus {
	border-color: blue;
	border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

textarea {
	border: 1px solid #f0f0f0;
	border-bottom: 1px solid #777777;
}

.button {
	padding: 8px;

	border: none;
	background-color: #00d;
	color: #ffffff;
}