<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/help.css">
	<link rel="stylesheet" type="text/css" href="lib/fonts/font-awesome/css/font-awesome.css">
	
	<link rel="stylesheet" type="text/css" href="assets/css/read.css">
	
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/angularJS/angular.min.js"></script>
	
	<title>Read Data</title>
</head>
<body ng-app="ReadApp">
<h1 class="text-center">Sport Club<span class="d"> - Insert Your Data</span></h1>
<h2 class="text-center m">Read data</h2>

<div class="pt50"></div>

<div class="container">
	<div class="tab">
		<button class="tablinks active col-md-4 col-sm-4" onclick="openCity(event, 'last')">Ultima iscrizione</button>
		<button class="tablinks col-md-4 col-sm-4" onclick="openCity(event, 'today')">Iscrizioni di oggi</button>
		<button class="tablinks col-md-4 col-sm-4" onclick="openCity(event, 'all')">tutte le iscrizioni</button>
	</div>
	
	<div id="last" class="tabcontent active" ng-controller="LastCtrl">
		<h3>Ultima iscrizione</h3>
		<div ng-repeat="lastSub in lastSubs">
			<div class="col-md-6">
				iscritto: <b>{{lastSub.nome}} {{lastSub.cognome}}</b><br>
				nato il: {{lastSub.dataDiNascita}}<br>
				<br>
				indirizzo:<br>
				{{lastSub.via}} {{lastSub.numeroCivico}}<br>
				{{lastSub.citta}} {{lastSub.nap}}<br>
			</div>
			<div class="col-md-6">
				phone: {{lastSub.telefono}}<br>
				email: {{lastSub.email}}<br>
				<br><br>
				hobby: {{lastSub.hobby}}<br>
				work: {{lastSub.professione}}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div id="today" class="tabcontent" ng-controller="TodayCtrl">
		<h3>Iscrizioni di oggi</h3>
		<div ng-repeat="todaySub in todaySubs">
			<div class="card col-md-4 pt10  pb10" onclick="toggleHid(this)">
				<div class="card-head col-xs-12">
					<b>{{todaySub.nome}} {{todaySub.cognome}}</b> - {{todaySub.dataDiNascita}} <span class="pull-right"><i class="fa fa-angle-down"></i> </span>
				</div>
				<div class="clearfix"></div>
				<div class="hid">
					<div class="col-xs-6">
						<br>
						indirizzo:<br>
						{{todaySub.via}} {{todaySub.numeroCivico}}<br>
						{{todaySub.citta}} {{todaySub.nap}}<br>
						<br>
						
					</div>
					<div class="col-xs-6">
						phone: {{todaySub.telefono}}<br>
						email: {{todaySub.email}}<br>
						<br>
						hobby: {{todaySub.hobby}}<br>
						work: {{todaySub.professione}}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="pt10"></div>
		</div>
	</div>
	
	<div id="all" class="tabcontent" ng-controller="AllCtrl">
		<h3>Iscrizioni di oggi</h3>
		<div ng-repeat="allSub in allSubs">
			<div class="card col-md-4 pt10  pb10" onclick="toggleHid(this)">
				<div class="card-head col-xs-12">
					<b>{{allSub.nome}} {{allSub.cognome}}</b> - {{allSub.dataDiNascita}} <span class="pull-right"><i class="fa fa-angle-down"></i> </span>
				</div>
				<div class="clearfix"></div>
				<div class="hid">
					<div class="col-xs-6">
						<br>
						indirizzo:<br>
						{{allSub.via}} {{allSub.civicNumber}}<br>
						{{allSub.citta}} {{allSub.nap}}<br>
						<br>
					
					</div>
					<div class="col-xs-6">
						phone: {{allSub.telefono}}<br>
						email: {{allSub.email}}<br>
						<br>
						hobby: {{allSub.hobby}}<br>
						work: {{allSub.professione}}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="pt10"></div>
		</div>
	</div>
</div>

<script src="assets/js/read.js"></script>

</body>
</html>